.header-image {
  background: url("../../Components/Header/header-img.jpg");
  background-size: cover;
  height: 450px;
  width: 100%;
}

.header-image {
  .header-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: white;
  }

  h2 {
    font-size: 5rem;
    text-transform: uppercase;
  }

  .header-subheading {
    font-size: 3rem;
    text-transform: uppercase;
    display: block;
    color: #f7931e;
  }
}
